version: "3.9"

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: mike-django-k8s:v1.0.0
    environment:
      - PORT=8020
    env_file:
      - web/.env
    ports:
      - "8001:8020"
