version: "3.9"

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: mike-django-k8s:v1.0.0
    environment:
      - PORT=8020
    env_file:
      - web/.env
    ports:
      - "8001:8020"
    command: sh -c "chmod +x /app/migrate.sh && sh /app/migrate.sh && /app/entrypoint.sh"

  postgres_db:
    image: postgres
    # environment:
    #   - POSTGRES_DB=django_k8s
    #   - POSTGRES_USER=django
    #   - POSTGRES_PASSWORD=djangopassword
    #   - POSTGRES_HOST=postgres_db
    #   - POSTGRES_PORT=5432
    env_file:
      - web/.env
    expose:
      - 5432
    volumes:
      - posgres_data:/var/lib/postgresql/data/

volumes:
  posgres_data:
